* {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  // set up variables for fonts & colours
  --font: "Poppins", sans-serif;
  --bg_colour: white;
  --light_grey: #f6f6f5;
  --font_colour: #4d4d4d;
  --font_colour_light: #9f938b;
  --blush: #bfabab;
}

html {
  font-size: 1em;
  font-family: var(--font);
}

// GENERALISED STYLES | Fonts, text margins, images, etc.

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  font-weight: 400;
  color: var(--font_colour);
  margin: 1rem;
}

h2,
h3,
h4,
p {
  font-weight: 300;
  color: var(--font_colour_light);
  margin: 1rem;
}

img {
  max-width: 100%;
}

// NAVIGATION

nav {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;

  .nav-left,
  .nav-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    align-content: center;
  }
}

// PRODUCT SECTION

.breadcrumb {
  p {
    margin: 0;
  }

  display: grid;
  grid-template-columns: repeat(4, auto) 2fr;
  margin-inline: 1rem;
  align-items: center;
  font-size: 0.75rem;
  text-transform: uppercase;
  gap: 0.5rem;
  margin-bottom: 1rem;

  .current-page {
    font-weight: 400;
    color: var(--font_colour);
  }
}

// ACCORDION ELEMENT

// CAROUSEL ELEMENT
