* {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  // set up variables for fonts & colours
  --font: "Poppins", sans-serif;
  --bg_colour: white;
  --light_grey: #f6f6f5;
  --font_colour: #4d4d4d;
  --font_colour_light: #9f938b;
  --blush: #bfabab;
}

html {
  font-size: 1em;
  font-family: var(--font);
}

// GENERALISED STYLES | Fonts, text margins, images, etc.

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  font-weight: 400;
  color: var(--font_colour);
  margin: 1rem;
}

h2,
h3,
h4,
p {
  font-weight: 300;
  color: var(--font_colour_light);
  margin: 1rem;
}

img {
  max-width: 100%;
}

// NAVIGATION

// PRODUCT SECTION

// ACCORDION ELEMENT

// CAROUSEL ELEMENT
